################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ProjectEvaluation/slideshowsaver 3.0.metadata.v7.bin
/.vs/ProjectEvaluation/slideshowsaver 3.0.projects.v7.bin
/.vs/SlideShowSaver 3.0/DesignTimeBuild/.dtbcache.v2
/.vs/SlideShowSaver 3.0/FileContentIndex/16d1d967-b500-464c-89b4-7fa0c898708b.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/43ec149f-7932-4c53-b065-2ff5125c6626.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/ad466ef7-a5b2-4cbd-8460-80192eec9aa3.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/f22fa6a8-fcbb-440f-a854-0ad6d7c667a1.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/fae78e3b-2a10-4928-96e7-df9b76f45ad2.vsidx
/.vs/SlideShowSaver 3.0/v17/.futdcache.v2
/.vs/SlideShowSaver 3.0/v17/.suo
/.vs/SlideShowSaver 3.0/v17/DocumentLayout.json
/.vs/SlideShowSaver 3.0/FileContentIndex/8bbf7f23-dfda-4ee5-a851-e5982092894d.vsidx
