################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ProjectEvaluation/slideshowsaver 3.0.metadata.v7.bin
/.vs/ProjectEvaluation/slideshowsaver 3.0.projects.v7.bin
/.vs/SlideShowSaver 3.0/DesignTimeBuild/.dtbcache.v2
/.vs/SlideShowSaver 3.0/FileContentIndex/16d1d967-b500-464c-89b4-7fa0c898708b.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/43ec149f-7932-4c53-b065-2ff5125c6626.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/ad466ef7-a5b2-4cbd-8460-80192eec9aa3.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/f22fa6a8-fcbb-440f-a854-0ad6d7c667a1.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/fae78e3b-2a10-4928-96e7-df9b76f45ad2.vsidx
/.vs/SlideShowSaver 3.0/v17/.futdcache.v2
/.vs/SlideShowSaver 3.0/v17/.suo
/.vs/SlideShowSaver 3.0/v17/DocumentLayout.json
/.vs/SlideShowSaver 3.0/FileContentIndex/8bbf7f23-dfda-4ee5-a851-e5982092894d.vsidx
/Modul Matrix/bin/Debug/SlideShowBildauswahl.pdb
/Modul Matrix/obj/Debug/SlideShowModul.Matrix.vbproj.AssemblyReference.cache
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowBildauswahl.dll
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowBildauswahl.pdb
/Modul SlideShowSaver 3.0/obj/Debug/SlideShowModul.SlideShowSaver_3_0.vbproj.AssemblyReference.cache
/SlideShowBildauswahl/bin/Debug/SlideShowBildauswahl.dll
/SlideShowBildauswahl/bin/Debug/SlideShowBildauswahl.pdb
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.dll
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.pdb
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.vbproj.GenerateResource.cache
/SlideShowMain/bin/Debug/SlideShowBildauswahl.dll
/SlideShowMain/bin/Debug/SlideShowBildauswahl.pdb
/SlideShowMain/bin/Debug/SlideShowMain.exe
/SlideShowMain/bin/Debug/SlideShowMain.pdb
/SlideShowMain/obj/Debug/SlideShowMain.exe
/SlideShowMain/obj/Debug/SlideShowMain.pdb
/SlideShowMain/obj/Debug/SlideShowMain.vbproj.AssemblyReference.cache
/.vs/SlideShowSaver 3.0/FileContentIndex/e69e1775-968a-4672-b4ce-a0caec6e6609.vsidx
/Modul Matrix/bin/Debug/SlideShowBildauswahl.dll
/.vs/SlideShowSaver 3.0/FileContentIndex/cb26c405-ba45-4eaa-84b3-f0dd67b247ce.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/67e23651-a839-4ff9-826c-d42b717cdd5a.vsidx
/Modul SlideShowSaver 3.0/obj/Debug/SlideShowModul.SlideShowSaver_3_0.vbproj.GenerateResource.cache
/.vs/SlideShowSaver 3.0/FileContentIndex/39866715-f4a3-4068-9afa-c5a499cdf6ed.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/e27122d2-8e97-4982-8a31-b8a1a64f4011.vsidx
/Modul Mandelbrot/obj/Debug/SlideShowModul.Mandelbrot.vbproj.AssemblyReference.cache
/Modul Matrix/bin/Debug/Modul Matrix.dll
/Modul Matrix/bin/Debug/Modul Matrix.pdb
/Modul Matrix/bin/Debug/SlideShowInterfaces.dll
/Modul Matrix/bin/Debug/SlideShowInterfaces.pdb
/Modul Matrix/bin/Debug/SlideShowTools.dll
/Modul Matrix/bin/Debug/SlideShowTools.pdb
/Modul Matrix/obj/Debug/Modul Matrix.dll
/Modul Matrix/obj/Debug/Modul Matrix.pdb
/Modul SlideShowSaver 3.0/bin/Debug/Modul SlideShowSaver 3.0.dll
/Modul SlideShowSaver 3.0/bin/Debug/Modul SlideShowSaver 3.0.pdb
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowInterfaces.dll
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowInterfaces.pdb
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowLoader.dll
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowLoader.pdb
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowTools.dll
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowTools.pdb
/Modul SlideShowSaver 3.0/My Project/Resources.resx
/Modul SlideShowSaver 3.0/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Modul SlideShowSaver 3.0/obj/Debug/Modul SlideShowSaver 3.0.dll
/Modul SlideShowSaver 3.0/obj/Debug/Modul SlideShowSaver 3.0.pdb
/Modul SlideShowSaver 3.0/obj/Debug/Modul_SlideShowSaver_3._0.Resources.resources
/Modul SlideShowSaver 3.0/obj/Debug/Modul_SlideShowSaver_3._0.ucUnderConstruction.resources
/Modul SlideShowSaver 3.0/obj/Debug/SlideShowModul.SlideShowSaver_3_0.vbproj.CoreCompileInputs.cache
/Modul SlideShowSaver 3.0/obj/Debug/SlideShowModul.SlideShowSaver_3_0.vbproj.FileListAbsolute.txt
/Modul SlideShowSaver 3.0/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/Modul SlideShowSaver 3.0/ucUnderConstruction.resx
/SlideShowBildauswahl/bin/Debug/SlideShowInterfaces.dll
/SlideShowBildauswahl/bin/Debug/SlideShowInterfaces.pdb
/SlideShowBildauswahl/bin/Debug/SlideShowTools.dll
/SlideShowBildauswahl/bin/Debug/SlideShowTools.pdb
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.vbproj.AssemblyReference.cache
/SlideShowInterfaces/bin/Debug/SlideShowInterfaces.dll
/SlideShowInterfaces/bin/Debug/SlideShowInterfaces.pdb
/SlideShowInterfaces/obj/Debug/SlideShowInterfaces.dll
/SlideShowInterfaces/obj/Debug/SlideShowInterfaces.pdb
/SlideShowLoader/bin/Debug/net472/SlideShowInterfaces.dll
/SlideShowLoader/bin/Debug/net472/SlideShowInterfaces.pdb
/SlideShowLoader/bin/Debug/net472/SlideShowLoader.dll
/SlideShowLoader/bin/Debug/net472/SlideShowLoader.pdb
/SlideShowLoader/obj/Debug/net472/SlideShowLoader.AssemblyInfoInputs.cache
/SlideShowLoader/obj/Debug/net472/SlideShowLoader.dll
/SlideShowLoader/obj/Debug/net472/SlideShowLoader.pdb
/SlideShowLoader/obj/Debug/net472/SlideShowLoader.sourcelink.json
/SlideShowLoader/obj/Debug/net472/SlideShowLoader.vbproj.AssemblyReference.cache
/SlideShowMain/bin/Debug/Modul SlideShowSaver 3.0.dll
/SlideShowMain/bin/Debug/Modul SlideShowSaver 3.0.pdb
/SlideShowMain/bin/Debug/Module/Modul Mandelbrot.sssm
/SlideShowMain/bin/Debug/Module/Modul Matrix.sssm
/SlideShowMain/bin/Debug/Module/Modul SlideShowSaver 3.0.sssm
/SlideShowMain/bin/Debug/SlideShowInterfaces.dll
/SlideShowMain/bin/Debug/SlideShowInterfaces.pdb
/SlideShowMain/bin/Debug/SlideShowLoader.dll
/SlideShowMain/bin/Debug/SlideShowLoader.pdb
/SlideShowMain/bin/Debug/SlideShowTools.dll
/SlideShowMain/bin/Debug/SlideShowTools.pdb
/SlideShowTools/bin/Debug/SlideShowInterfaces.dll
/SlideShowTools/bin/Debug/SlideShowInterfaces.pdb
/SlideShowTools/bin/Debug/SlideShowTools.dll
/SlideShowTools/bin/Debug/SlideShowTools.pdb
/SlideShowTools/obj/Debug/SlideShowTools.dll
/SlideShowTools/obj/Debug/SlideShowTools.pdb
/SlideShowTools/obj/Debug/SlideShowTools.vbproj.AssemblyReference.cache
/Modul Mandelbrot/bin/Debug/Modul Mandelbrot.dll
/Modul Mandelbrot/bin/Debug/Modul Mandelbrot.pdb
/Modul Mandelbrot/bin/Debug/SlideShowInterfaces.dll
/Modul Mandelbrot/bin/Debug/SlideShowInterfaces.pdb
/Modul Mandelbrot/bin/Debug/SlideShowTools.dll
/Modul Mandelbrot/bin/Debug/SlideShowTools.pdb
/Modul Mandelbrot/obj/Debug/Modul Mandelbrot.dll
/Modul Mandelbrot/obj/Debug/Modul Mandelbrot.pdb
/.vs/SlideShowSaver 3.0/FileContentIndex/6818b878-1b00-4327-8bb4-5344ed6f7a66.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/5118d4cb-8fb9-4c15-83cc-96879839d7ee.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/52f2fa94-17ca-41a4-96ea-98f4ad98c998.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/a23256af-d58d-4021-8e9a-ca40331bada5.vsidx
/Modul Mandelbrot/obj/Debug/TempPE/My Project.Application.Designer.vb.dll
/Modul Mandelbrot/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/Modul Mandelbrot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Modul Matrix/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Modul SlideShowSaver 3.0/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SlideShowShader.SchwarzWeiß/obj/Debug/SlideShowShader.SchwarzWeiß.vbproj.AssemblyReference.cache
/SlideShowTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Transition Blenden/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Transition Schieben/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Transition Zoom/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/SlideShowSaver 3.0/FileContentIndex/60ae01bd-b155-4566-8dcc-48ba8097e846.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/85943604-6345-4842-8d78-812375a0fb7a.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/07601935-bbeb-4726-987e-a7aafff7ff6d.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/9ea274be-a68c-4ba5-a02d-acca4cd07a12.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/bfdfeb81-daad-40eb-8303-f68e0c049533.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/d7c59c32-6538-4ede-baab-20735587f11c.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/6c9bc70f-0fa1-4295-bf0e-8f99bce88b52.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/777cd40c-7da5-4fff-9785-017bf0371e6a.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/7e9ae24f-990c-403f-8a33-78feb4011304.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/a5fd1adb-06ea-4a2f-a177-1fc1048a6551.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/b692690f-52d6-4303-b0b3-ddcce345aee9.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/d88ee55f-582e-4c64-a96a-1aeb34c4340d.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/e3bcc189-c0ca-4263-abfb-fe45d243931f.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/33044060-e272-40cc-9c51-43c088651bb1.vsidx
