################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ProjectEvaluation/slideshowsaver 3.0.metadata.v7.bin
/.vs/ProjectEvaluation/slideshowsaver 3.0.projects.v7.bin
/.vs/SlideShowSaver 3.0/DesignTimeBuild/.dtbcache.v2
/.vs/SlideShowSaver 3.0/FileContentIndex/16d1d967-b500-464c-89b4-7fa0c898708b.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/43ec149f-7932-4c53-b065-2ff5125c6626.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/ad466ef7-a5b2-4cbd-8460-80192eec9aa3.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/f22fa6a8-fcbb-440f-a854-0ad6d7c667a1.vsidx
/.vs/SlideShowSaver 3.0/FileContentIndex/fae78e3b-2a10-4928-96e7-df9b76f45ad2.vsidx
/.vs/SlideShowSaver 3.0/v17/.futdcache.v2
/.vs/SlideShowSaver 3.0/v17/.suo
/.vs/SlideShowSaver 3.0/v17/DocumentLayout.json
/.vs/SlideShowSaver 3.0/FileContentIndex/8bbf7f23-dfda-4ee5-a851-e5982092894d.vsidx
/Modul Matrix/bin/Debug/SlideShowBildauswahl.pdb
/Modul Matrix/obj/Debug/SlideShowModul.Matrix.vbproj.AssemblyReference.cache
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowBildauswahl.dll
/Modul SlideShowSaver 3.0/bin/Debug/SlideShowBildauswahl.pdb
/Modul SlideShowSaver 3.0/obj/Debug/SlideShowModul.SlideShowSaver_3_0.vbproj.AssemblyReference.cache
/SlideShowBildauswahl/bin/Debug/SlideShowBildauswahl.dll
/SlideShowBildauswahl/bin/Debug/SlideShowBildauswahl.pdb
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.dll
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.pdb
/SlideShowBildauswahl/obj/Debug/SlideShowBildauswahl.vbproj.GenerateResource.cache
/SlideShowMain/bin/Debug/SlideShowBildauswahl.dll
/SlideShowMain/bin/Debug/SlideShowBildauswahl.pdb
/SlideShowMain/bin/Debug/SlideShowMain.exe
/SlideShowMain/bin/Debug/SlideShowMain.pdb
/SlideShowMain/obj/Debug/SlideShowMain.exe
/SlideShowMain/obj/Debug/SlideShowMain.pdb
/SlideShowMain/obj/Debug/SlideShowMain.vbproj.AssemblyReference.cache
/.vs/SlideShowSaver 3.0/FileContentIndex/e69e1775-968a-4672-b4ce-a0caec6e6609.vsidx
/Modul Matrix/bin/Debug/SlideShowBildauswahl.dll
