<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="PolySharp" version="1.10.0" targetFramework="net48" developmentDependency="true" />
  <package id="SharpGen.Runtime" version="2.0.0-beta.13" targetFramework="net48" />
  <package id="SharpGen.Runtime.COM" version="2.0.0-beta.13" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="TqkLibrary.Wpf.Interop.DirectX" version="1.1.17" targetFramework="net48" />
  <package id="Vortice.Direct3D11" version="2.4.2" targetFramework="net48" />
  <package id="Vortice.DirectX" version="2.4.2" targetFramework="net48" />
  <package id="Vortice.DXGI" version="2.4.2" targetFramework="net48" />
  <package id="Vortice.Mathematics" version="1.4.25" targetFramework="net48" />
</packages>